name: Test - Build Docker image

on:
  workflow_call:
    inputs:
      tag:
        required: true
        type: string

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

jobs:
  push_to_registry:
    name: Push Docker image to Docker Hub
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: read
      attestations: write
      id-token: write
    steps:
      - name: Process version
        id: version
        run: |
          TAG="${{ inputs.tag }}"
          VERSION="${TAG#v}"  # Remove 'v' prefix

          echo "version=$VERSION" >> $GITHUB_OUTPUT
          echo "tag=$TAG" >> $GITHUB_OUTPUT
          echo "Selected tag: $TAG"
          echo "Processed version: $VERSION"

      - name: Check out the repo
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Setup Docker Buildx
        uses: docker/setup-buildx-action@v3.12.0

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3.3.0

      - name: Log in to Docker Hub
        uses: docker/login-action@v3.3.0
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Log in to GHCR
        uses: docker/login-action@v3.3.0
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract metadata for release version
        id: meta
        uses: docker/metadata-action@v5.10.0
        with:
          images: vitorvasc/docker-habbo-server
          tags: |
            type=raw,value=${{ steps.version.outputs.version }}

      - name: Build and push Docker image
        id: push
        uses: docker/build-push-action@v6.13.0
        with:
          context: .
          file: ./Dockerfile
          push: true
          platforms: linux/amd64,linux/arm64
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
